page-home {
	font-size: 1.2rem;
 	ion-content {
	    @include linear-gradient(right,$midnight-city);
	    -webkit-background-size: cover;
	    -moz-background-size: cover;
	    background-size: cover;
    }
    $tabs-md-tab-icon-color-active: color($colors, primary);
}
